.partners {
  padding-top: 99px;
}

.partners__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.partners__title {
  margin-bottom: 40px;
}

.partners__items {
  display: flex;
}

.partners__item {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.partners__item + .partners__item {
  margin-left: 19px;
}

.partners__item-avatar {
  position: relative;
  margin-bottom: 21px;
}

.partners__item-img {
  border-radius: 50%;
  width: 122px;
  height: 122px;
}

.partners__item-label {
  width: 32px;
  height: 32px;
  position: absolute;
  bottom: 0;
  right: 0;
  border: 3px solid #fff;
  border-radius: 50%;
}

.partners__item:nth-child(1) .partners__item-label {
  background: #ff4e50;
}

.partners__item:nth-child(2) .partners__item-label {
  background: #1cd7ad;
}

.partners__item:nth-child(3) .partners__item-label {
  background: #ffa507;
}

.partners__item:nth-child(4) .partners__item-label {
  background: #4e73db;
}

.partners__item-icon {
  padding: 6px 4px;
  width: 100%;
  height: 100%;
}

.partners__item-name {
  font-family: "Montserrat", sans-serif;
  color: #333;
  font-weight: 700;
  margin-bottom: 11px;
  text-align: center;
}

.partners__item-description {
  text-align: center;
  max-width: 224px;
}

.partners__link {
  margin-top: 25px;
  background: transparent;
  color: #ff4e50;
  border: 2px solid #ff4e50;
  border-radius: 20px;
  padding: 15px 30px 12px 29px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.partners__link:hover {
  background: #f06063;
  color: #fff;
}

.partners__link:focus {
  background: #ff4e50;
  color: #fff;
}

@media (max-width: 1025px) {
  .partners__items {
    flex-wrap: wrap;
    justify-content: center;
  }

  .partners__item {
    width: 35%;
  }
}

@media (max-width: 376px) {
  .partners__item {
    width: 100%;
    margin-bottom: 20px;
  }

  .partners__link {
    width: 100%;
    text-align: center;
  }
}