.partners {
  padding-top: 94px;
}

.partners__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.partners__title {
  margin-bottom: 31px;
}

.partners__items {
  display: flex;
  gap: 19px;
}

.partners__item {
  display: flex;
  flex: 1 1 0;
  align-items: center;
  flex-direction: column;
}

.partners__item-avatar {
  position: relative;
  margin-bottom: 21px;
}

.partners__item-img {
  border-radius: 50%;
  width: 122px;
  height: 122px;
}

.partners__item-label {
  width: 32px;
  height: 32px;
  position: absolute;
  bottom: 0;
  right: 0;
  border: 3px solid #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.partners__item:nth-child(1) .partners__item-label {
  background: #ff4e50;
}

.partners__item:nth-child(2) .partners__item-label {
  background: #1cd7ad;
}

.partners__item:nth-child(3) .partners__item-label {
  background: #ffa507;
}

.partners__item:nth-child(4) .partners__item-label {
  background: #4e73db;
}

.partners__item-name {
  font-family: "Montserrat", sans-serif;
  color: #333;
  font-weight: 700;
  margin-bottom: 11px;
  text-align: center;
}

.partners__item-description {
  overflow-wrap: break-word;
  min-width: 0;
  text-align: center;
  word-spacing: 1px;
}

.partners__link {
  margin-top: 35px;
  background: transparent;
  color: #ff4e50;
  border: 2px solid #ff4e50;
  border-radius: 20px;
  padding: 9px 27px 11px 28px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.partners__link:hover {
  background: #f06063;
  color: #fff;
}

.partners__link:focus {
  background: #ff4e50;
  color: #fff;
}

@media (max-width: 769px) {
  .partners__items {
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 55px;
    column-gap: 0;
  }

  .partners__item {
    width: 34%;
    flex: none;
  }

  .partners__item-description {
    max-width: 224px;
  }
}

@media (max-width: 376px) {
  .partners {
    padding-top: 25px;
  }

  .partners__title {
    margin-bottom: 14px;
  }

  .partners__items {
    row-gap: 26px;
  }

  .partners__item {
    width: 100%;
  }

  .partners__item-avatar {
    margin-bottom: 18px;
  }

  .partners__link {
    width: 93%;
    text-align: center;
    margin-top: 32px;
    padding: 7px 35px 11px 28px;
  }
}